entrypoint = "run_once.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python run_once.py"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Run"
author = 28026932
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_once.py"

[[workflows.workflow]]
name = "Dev"
author = 28026932
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_worker.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_dispatcher.py"
