entrypoint = "run_dispatcher.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python run_dispatcher.py && python run_worker.py & python run_worker.py & python run_worker.py & python run_worker.py & python run_worker.py & python run_worker.py & python run_worker.py & python run_worker.py"]
deploymentTarget = "gce"
ignorePorts = true
